@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Lora);

body { font-family: 'Lora', serif; }

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}


.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.inverse {
  background: #22647f;
  color: #f3f3f3;
  text-shadow: 0 0 20px #333;
}

a {
  color: #379fcc;
  text-decoration: none;
}

.strong {
  font-weight: 700;
}

.large-image img {
  width: 100%;
  height: auto;
}

.medium-image img {
  width: 650px;
}

.small-image img {
  width: 400px;
}

.thumb-image img {
  width: 200px;
}

.italic {
  font-style: italic;
}

.left-column {
  width: 40%;
  float: left;
  padding-left: 15%;
}

.right-column {
  width: 40%;
  float: right;
}

.none-style-list ul {
  list-style: none;
}

.full-screen {
  padding: 0;
}

.full-screen p {
  margin: 0;
}
